<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationfindingapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocationFindingApp">
        <activity android:name=".MyOrderActivity"></activity>
        <activity android:name=".OrderFailure" />
        <activity android:name=".OrderSuccess" />
        <activity android:name=".Admin_Delete" />
        <activity android:name=".Admin_Update" />
        <activity android:name=".Admin_Options" />
        <activity android:name=".ActivityDescription" />
        <activity android:name=".ActivityCart" />
        <activity android:name=".AdminAdd" />
        <activity android:name=".MainActivity" />
        <activity android:name=".signin_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainActivity"
            android:foregroundServiceType="location" />
    </application>

</manifest>